@font-face {
    font-family: 'BurbankBigCondensed';
    src: url('../Font/BurbankBigCondensed-Bold/BurbankBigCondensed-Bold.woff2') format('woff2'),
    url('../Font/BurbankBigCondensed-Bold/BurbankBigCondensed-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../Font/NotoSans/NotoSans-Regular.woff2') format('woff2'),
    url('../Font/NotoSans/NotoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* vidéo en fond */
.videobk{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    inset: 0;
}

.videobk video{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
} 
.content{
    position: relative;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: rgba(192, 90, 17, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 732px;
    padding: 1rem 1rem;
}
.content p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.3em;
    text-align: justify;
}
.content img{
    width: 300px;
    height: auto;
    display: block;
    align-self: center;
}
.main-content{
    position: relative;
    z-index: 2;
    display: flex;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.main_index{
    position: relative;
    min-height: 70vh;
    overflow: hidden;
}

/* texte introduction au page */
.intro{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.3em;
    text-align: justify;
    width: 70%;
    border: 1px solid black;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    place-self: center;
    border-radius: 8px;
    padding:  1rem 1rem;

}
.intro h1{
    text-align: center;
    font-weight: bold;
}
.main_page{
    background-color: #0072c9;
    padding-bottom: 50px;
}
.conteneur_page{
    background-color: rgb(204, 227, 244);
    /* opacity: 0.8; */
    border-radius: 40px;
    place-self: center;
    border: 1px solid black;
    margin-left: 3.5%;
    margin-right: 3.5%;
    border-color: transparent;
    border-left-width: 50px;
    border-right-width: 50px;
    border-top-width: 50px;
}
.vide{
    height: 30px;
}

/* expand gallery */
.expand-container{
    display: flex;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.expand-container img{
    flex: 1;
    object-fit: cover;
    transition: all 0.5s ease;
    width: 0;
    filter: brightness(0.75);
    cursor: pointer;
    border-radius: 20px;
    padding: 0px 10px;
}

.expand-container img:hover{
    flex:6;
    filter: brightness(1);
}

.menu_filter{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    place-self: center;
    width: 100%;
    justify-content: space-between;
}
.menu_filter button{
    padding: 10px 20px;
    font: 'Noto Sans', sans-serif;
    font-size: 20px;
    border: none;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    background-color: rgb(192, 90, 17);
}
.menu_filter button:active{
    background-color: goldenrod;

}
.filtercard{
    display: flex;
    margin: 15px;
}
.card{
    /* flex-basis: 330px; */
    flex-direction: column;
    display: flex;
    background-color: white;
    padding: 3px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;   
}
.card_text{
    font-size: 15px;
    color: black;

}
.card img{
    max-width: 50%;
    max-height: 50%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    place-self: center;
}
.card_title{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.card_body{
    padding: 15px 20px 20px;
}
/* .expand-container:hover img{
    flex:1;
    
} */